*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(https://cdn.pixabay.com/photo/2017/04/04/19/47/ship-2202910_960_720.jpg);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    margin-top: 2rem;
    color:white;
    font-size: 48px;
}
#btn{
    border:1px solid black;
    border-radius: .25rem;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

#yourName{
    width: 300px;
    margin: auto;
    margin-top: 2rem;
}
#yourName h2{
    text-align: center;
    color: white;
}